html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: table;
    background-color: #f4f4f4;
}

.container {
    display: table-cell;
    vertical-align: middle;
}

.card {
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
    text-align: center;
}

.btn {
    float: right;
    width: 100px;
}