<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="gestionDomiciliacion">

		<!-- Título domiciliaciones -->
		<h6>
			<span th:text="#{literal.domiciliaciones}"></span>
			<button class="btn btn-primary-outline btn-toggle float-right" type="button" data-toggle="collapse" data-target="#datosdomiciliacion">
				<i class="fa fa-minus"></i>
			</button>
		</h6>
		<hr class="btn-success line-form">

		<!-- Si es alta mostramos mensaje -->
		<div th:if="${clienteForm.id} == 0" class="alert alert-info" role="alert">
			<div class="row">
				<div class="col-md-1">
					<i class="fas fa-info-circle fa-2x"></i>
				</div>
				<div class="col-md-11">
					<label th:text="#{cliente.gestion.editar.domiciliacion}"></label>
				</div>
			</div>
		</div>

		<!-- Si es edición mostramos tabla domiciliacion -->
		<div th:if="${clienteForm.id} != 0" class="show" id="datosdomiciliacion">
						
			<!-- Tabla domiciliacion -->
			<a th:if="!${soloLectura}" class="btn btn-success margin-bottom-20" type="button" th:href="@{'/gseg/cliente/domiciliacion/alta/' + ${clienteForm.id}}" th:text="#{domiciliacion.gestion.nuevo}"></a>
				<div class="table-responsive margin-bottom-20">
					<table id="tablaDomiciliacion" class="table table-bordered display dt-responsive nowrap" style="width: 100%">
						<thead>
							<tr>
		    	                <th></th>
								<th data-priority="1" th:text="#{literal.nombre}"></th>
								<th th:text="#{literal.ape1}"></th>
								<th th:text="#{literal.ape2}"></th>
								<th th:text="#{literal.numero}"></th>
								<th data-priority="2" th:text="#{literal.acciones}"></th>
							</tr>
						</thead>
					</table>
				</div>
	        <!-- Tabla domiciliacion -->

		</div>

		<!-- Modal activar/desactivar -->
			<div class="modal fade" id="active-modal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title"></h4>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p></p>
							<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{literal.no}"></button>
							<a href="#" class="btn btn-danger" th:text="#{literal.si}"></a>
						</div>
					</div>

				</div>
			</div>

	</div>

</body>
</html>