<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baseLayout}">
<head>
<meta charset="UTF-8">
<title th:text="#{ramo.gestion.titulo}"></title>
</head>
<body>

	<div layout:fragment="contentpage">

	    <!-- Mensaje guardado correctamente -->
        <div th:if="${ramoGuardado}" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="#{ramo.gestion.guardado}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
        </div>

		<!-- Tabla ramo -->
		<div class="card shadow">
			<div class="card-header color-white">
				<h5 th:text="#{ramo.gestion.busqueda}"></h5>
			</div>
			<div class="card-body">
				<a class="btn btn-success margin-bottom-20" type="button" th:href="@{/gseg/ramo/alta}" th:text="#{ramo.gestion.nuevo}"></a>
				<div class="table-responsive margin-bottom-20">
					<table id="tablaRamo" class="table table-bordered display dt-responsive nowrap" style="width: 100%">
						<thead>
							<tr>
								<th></th>
								<th data-priority="1" th:text="#{literal.nombre}"></th>
								<th th:text="#{literal.descripcion}"></th>
								<th data-priority="2" th:text="#{literal.acciones}"></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
		<!-- Tabla ramo -->

		<!-- Modal activar/desactivar -->
			<div class="modal fade" id="active-modal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title"></h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p></p>
							<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{literal.no}"></button>
							<a href="#" class="btn btn-danger" th:text="#{literal.si}"></a>
						</div>
					</div>

				</div>
			</div>

	</div>

	 <th:block layout:fragment="script">
        <script type="text/javascript">
            $(document).ready(function() {

                //Modal para activar/desactivar ramo
                $('#active-modal').on('show.bs.modal', function(event) {
                    var button = $(event.relatedTarget);
                    var data = button.data('id');
                    var activo = button.data('activo');
                    console.log(data);
                    console.log(activo);

                    var modal = $(this);

                    var a = modal.find('.modal-body a')[0];
                    if (activo) {
                        modal.find('.modal-header h4').text('Desactivar ramo');
                        modal.find('.modal-body p').text('¿Está usted seguro de desactivar este ramo?');
                        a.href = '/gseg/ramo/desactivar/' + data;
                    } else {
                        modal.find('.modal-header h4').text('Activar ramo');
                        modal.find('.modal-body p').text('¿Está usted seguro de activar este ramo?');
                        a.href = '/gseg/ramo/activar/' + data;
                    }
                });

                var table = $('#tablaRamo').DataTable({
                    ajax: "/listaRamos",
                    ajaxDataProp: "",
                    language: {
                        "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                    },
                    columns: [
                    	{ data: "id", visible: false },
                    	{ data: "nombre" },
                    	{ data: "descripcion" },
                    	{
                        	data: null,
                        	orderable: false,
                        	searchable: false,
                        	render: function(data, type, row, meta) {
                            	var idRamo = row['id'];
                            	var activo = row['activo'];
                            	var enlaces = '';
                            	var enlaceVer = `<a class="text-success margin-right-10" title="[[#{literal.ver}]]" href="[[@{/gseg/ramo/ver/${idRamo}}]]"><i class="fas fa-eye fa-sm"></i></a>`;
                            	var enlaceEditar = `<a class="text-success margin-right-10" title="[[#{literal.editar}]]" href="[[@{/gseg/ramo/editar/${idRamo}}]]"><i class="fas fa-edit fa-sm"></i></a>`;
                            	var enlaceActivar = `<a class="text-success" href="#" title="[[#{literal.activar}]]" data-toggle="modal" data-target="#active-modal" data-id="${idRamo}" data-activo="${activo}"><i class="fas fa-user-plus fa-sm"></i></a>`;
                            	var enlaceDesactivar = `<a class="text-success" href="#" title="[[#{literal.desactivar}]]" data-toggle="modal" data-target="#active-modal" data-id="${idRamo}" data-activo="${activo}"><i class="fas fa-user-minus fa-sm"></i></a>`;
                            	if (row['activo'] === true) {
                                	enlaces = enlaceVer + enlaceEditar + enlaceDesactivar;
                            	} else {
                                	enlaces = enlaceVer + enlaceEditar + enlaceActivar;
                            	}
                            	return enlaces;
                        	}
                    }],
                    // control al crear la fila, para colorear el fondo de la fila en rojo a las entidades no activas
                    createdRow: function(row, data, index) {
                        if (index % 2 != 0 && data['activo'] === true) {
                            $(row).addClass('fila-impar');
                        }
                        if (data['activo'] === false) {
                            $(row).addClass('fila-anulada');
                        }
                    }

                });

            });
        </script>
    </th:block>

</body>
</html>